*{
    margin: 0%;
    padding: 0%;
}
.navbar {
    display: flex;
    padding: 30px;
    background-color: bisque;
    align-items: center;

}
.navbar_links{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 28px;
    align-items: center;
}
.navbar_logo{
    font-size: 35px;
    flex: 60%;
}
.navbar_links a{
    text-decoration: none;
    color: black;
}

.navbar_button-sizing{
    padding: 6px;
    border-radius: 10px;
    box-sizing: border-box;
}
.navbar_button-color{
    background-color: rgb(100, 98, 98);
    color: white;
}
.navbar_button-color:hover{
    background-color: black;
    color: white;
    cursor: pointer;

}
.menu_icon{
    display: none;

}

.headings{
    margin: 40px 0 20px 20px;
}
/*reflow repaint */
.testing_display-hidden{
    visibility: hidden;
}
.testing_display-none{
    display: none;
}
.flot_continer{
    display: flex;
    margin-left: 20%;
    column-gap: 30px;
}
.testing_flot{
    padding: 30px;
    max-width: 300px;
    box-sizing: border-box;

}
.testing_flot-bg-color{
    background-color: antiquewhite;
}
.flot-proporty{
    width: 200px;
    height: 400px;
    float: left;
    margin: 0 20px 20px 0px;
}
.clear{
    clear: left;
}

/*box model*/
.box1{
    margin: 50px 50% 0 20%;
    padding: 50px;
}
.box1-bg{
    background-color: bisque;
}
.box2{
     padding: 50px;
}
.box2-bg{
    background-color: aqua;
}
.box3{
    padding: 50px;
}
.box3-bg{
    background-color: darkolivegreen;
}
.box4-bg{
    background-color: brown;
}



/*box*/


/*positioning*/

.positoning{
    position: relative;
    border: solid 1px black;

}
.positoning-sizing{
    max-width: 500px;
    margin:  20px 0 0 20%;

}


.positoning_head1{
    position: absolute;
    top: 1px;

}
.positoning_img1{
    padding: 50px;
    max-width:400px ;
}

/*overflow*/

.overflowConcpt1{
    max-width: 400px;
    max-height: 200px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: scroll;
    background-color: antiquewhite;
    margin: 20px 0 0 20%;
}


/*psudo elements*/


.headings::first-letter{
    font-size: 35px;
    color: red;
}


.box1::after {
    content: "  ";
    right: 500px;
    top: 950px;
    width: 200px;
    height: 200px;
    position: absolute;
    white-space: nowrap; 
    border-radius: 50%;   
    box-shadow: 0px 0px 4px #222;  
    background-image: linear-gradient(#f50404, #2e47cf);  
  }

  /*box model retry*/


  .box_retry{
    position: relative; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_retry-color{
    border: solid 50px rgb(252, 217, 189);
    background-color: #cff38d;
  }
  .box_retry-sizing{
    margin: 10px 50% 10px 20%;
    padding: 150px 120px 150px 120px ;
  }
  .box_retry::after{
    border: solid 50px rgb(243, 165, 49);
    background-color: #79f8f2;
    padding: 40px 100px 40px 100px;
    content: " hiiii";
    position: absolute; 
    text-align: center;
    box-sizing: border-box;
  }


  @media screen and (max-width:600px){
    .flot_continer{
        flex-direction: column;
        row-gap: 50px;
    }
    .testing_flot{
        max-width: 150px;
   }
   .flot-proporty{
      max-width: 100px;
   }
   .box1{
    margin: 30px 20% 30px 20%;
    padding: 30px;
   }
   .positoning{
    max-width: 150px;
   }
   .positoning_img1{
    padding: 30px;
    max-width:100px ;
   }
   .positoning_head1{
    position: absolute;
    top: -11px;
    font-size: 16px;
   }
  .box_retry-sizing{
    margin: 10px 20% 20px 20%;
    padding: 80px;
  }

 .box_retry::after{
    padding: 20px;
    content: " hiiii";
    position: absolute; 
    text-align: center;
    box-sizing: border-box;
  }

.overflowConcpt1{
    max-width: 150px;
    max-height: 150px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: scroll;
    background-color: antiquewhite;
    margin: 20px 0 0 20%;
}
.box1::after {
    top: 1000px;
    right: 10px;
    width: 80px;
    height: 80px;
  }
  .navbar_link{
    display: none;
}
.menu_icon{
    display: block;
}
  
}