
/*reflow repaint */
.testing_hidden{
    visibility: hidden;
}
.testing_none{
    display: none;
}
.testing_flot{
    padding: 30px;
    max-width: 300px;
    box-sizing: border-box;
    margin-left: 20%;
}
.testing_flot-bg-color{
    background-color: antiquewhite;
}
.flot-proporty{
    width: 200px;
    height: 400px;
    float: left;
    margin: 0 20px 20px 0px;
}
.clear{
    clear: left;
}

/*box model*/
.box1{
    margin: 50px 50% 0 20%;
    padding: 50px;
}
.box1-bg{
    background-color: bisque;
}
.box2{
     padding: 50px;
}
.box2-bg{
    background-color: aqua;
}
.box3{
    padding: 50px;
}
.box3-bg{
    background-color: darkolivegreen;
}
.box4-bg{
    background-color: brown;
}


/*positioning*/

.positoning{
    position: relative;
    border: solid 1px black;

}
.positoning-sizing{
    max-width: 500px;
    margin:  20px 0 0 20%;

}


.positoning_head1{
    position: absolute;
    top: 1px;

}
.positoning_img1{
    padding: 50px;
    max-width:400px ;
}

/*overflow*/

.overflowConcpt1{
    max-width: 400px;
    max-height: 200px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: scroll;
    background-color: antiquewhite;
    margin: 20px 0 0 20%;
}


/*psudo elements*/


.headings::first-letter{
    font-size: 35px;
    color: red;
}


.box1::after {
    content: "  ";
    right: 200px;
    top: 800px;
    width: 200px;
    height: 200px;
    position: absolute;
    white-space: nowrap; 
    border-radius: 50%;   
    box-shadow: 0px 0px 4px #222;  
    background-image: linear-gradient(#f50404, #2e47cf);  
  }

  /*box model retry*/


  .box_retry{
    position: relative; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_retry-color{
    border: solid 20px black;
    background-color: #f50404;
  }
  .box_retry-sizing{
    margin: 10px 43% 20px 43%;
    padding: 100px;
  }
  .box_retry::after{
    border: solid 20px rgb(193, 209, 43);
    background-color: #0804f5;
    padding: 40px;
    content: " hiiii";
    position: absolute; 
    text-align: center;
    box-sizing: border-box;
  }

  
  @media screen and (max-width:600px){
    .testing_flot{
        max-width: 150px;
   }
   .flot-proporty{
      max-width: 100px;
   }
   .box1{
    margin: 30px 20% 30px 20%;
    padding: 30px;
   }
   .positoning{
    max-width: 150px;
   }
   .positoning_img1{
    padding: 30px;
    max-width:100px ;
   }
   .positoning_head1{
    position: absolute;
    top: -11px;
    font-size: 16px;
   }
  .box_retry-sizing{
    margin: 10px 20% 20px 20%;
    padding: 80px;
  }

 .box_retry::after{
    border: solid 20px rgb(193, 209, 43);
    background-color: #0804f5;
    padding: 20px;
    content: " hiiii";
    position: absolute; 
    text-align: center;
    box-sizing: border-box;
  }

.overflowConcpt1{
    max-width: 150px;
    max-height: 150px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: scroll;
    background-color: antiquewhite;
    margin: 20px 0 0 20%;
}
.box1::after {
    content: "  ";
    top: 1000px;
    right: 10px;
    width: 80px;
    height: 80px;
    position: absolute;
    white-space: nowrap; 
    border-radius: 50%;   
    box-shadow: 0px 0px 4px #222;  
    background-image: linear-gradient(#f50404, #2e47cf);  
  }
  
}
