.testing_hidden{
    visibility: hidden;
}
.testing_none{
    display: none;
}
.testing_flot{
    padding: 30px;
    max-width: 300px;
    box-sizing: border-box;
    margin-left: 20%;
}
.testing_flot-bg-color{
    background-color: antiquewhite;
}
.flot-proporty{
    width: 200px;
    height: 400px;
    float: left;
    margin: 0 20px 20px 0px;
}
.clear{
    clear: left;
}
.box1{
    margin: 50px 50% 0 20%;
    padding: 50px;
}
.box1-bg{
    background-color: bisque;
}
.box2{
     padding: 50px;
}
.box2-bg{
    background-color: aqua;
}
.box3{
    padding: 50px;
}
.box3-bg{
    background-color: darkolivegreen;
}
.box4-bg{
    background-color: brown;
}


@media screen and (max-width:600px){
    .flot{
        background-color: blue;
    max-width: 150px;
   }
}

.positoning{
    position: relative;
    max-width: 500px;
    border: solid 1px black;
    margin:  20px 0 0 20%;
}


.positoning_head1{
    position: absolute;
    top: 1px;

}
.positoning_img1{
    padding: 50px;
}
.overflowConcpt1{
    max-width: 400px;
    max-height: 200px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: scroll;
    background-color: antiquewhite;
    margin: 20px 0 0 20%;

}

.headings::first-letter{
    font-size: 35px;
    color: red;
}


.box1::after {
    content: "  ";
    right: 200px;
    top: 800px;
    width: 200px;
    height: 200px;
    position: absolute;
    white-space: nowrap; 
    border-radius: 50%;   
    box-shadow: 0px 0px 4px #222;  
    background-image: linear-gradient(#f50404, #2e47cf);  
  }